openapi: 3.1.0
info:
  title: Hijrah At-Tauhid Integration API
  version: 1.1.0
  description: Backward-compatible v1.1 API for scoped reads, SPMB milestone updates, employee read/import/update, granular sensitive-data scopes, filters, webhooks, and incremental synchronization.
servers:
  - url: https://app.hijrah-attauhid.or.id
    description: Production Cloudflare Worker
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string, format: uuid }
            retry_after: { type: integer }
    Payment:
      type: object
      required: [status, tanggal_bayar, jumlah, gratis_gelombang_pertama]
      properties:
        status: { type: string }
        tanggal_bayar: { type: [string, 'null'], format: date-time }
        jumlah: { type: [number, 'null'] }
        gratis_gelombang_pertama: { type: boolean }
    Document:
      type: object
      required: [id, jenis, nama_file, version, download_path]
      properties:
        id: { type: string, description: '<pendaftaran_id>.<jenis>' }
        jenis: { type: string, enum: [kk, akta, rapor, ijazah] }
        nama_file: { type: string }
        mime_type: { type: [string, 'null'] }
        ukuran: { type: [integer, 'null'] }
        version: { type: string }
        download_path: { type: string }
    Registration:
      type: object
      required: [id, status, identitas, pembayaran_pendaftaran]
      properties:
        id: { type: string, format: uuid, description: Stable registration ID, distinct from siswa.id }
        siswa_id: { type: [string, 'null'], format: uuid }
        status: { type: string }
        tanggal_pendaftaran: { type: [string, 'null'], format: date-time }
        unit: { type: object, properties: { id: { type: [string, 'null'], format: uuid } } }
        tahun_ajaran: { type: object, properties: { id: { type: [string, 'null'], format: uuid } } }
        angkatan: { type: object, properties: { id: { type: [string, 'null'], format: uuid } } }
        identitas:
          type: object
          properties:
            nama: { type: string }
            jenis_kelamin: { type: [string, 'null'] }
        jenis_pendaftaran: { type: [string, 'null'] }
        kategori: { type: [string, 'null'] }
        status_asrama: { type: [string, 'null'] }
        gelombang:
          type: [object, 'null']
          properties:
            id: { type: string, format: uuid }
            nama: { type: string }
            gratis_pendaftaran: { type: boolean }
            tanggal_mulai: { type: string, format: date-time }
            tanggal_selesai: { type: [string, 'null'], format: date-time }
        status_tes: { type: string, enum: [sudah_tes, belum_tes] }
        tanggal_tes: { type: [string, 'null'], format: date-time }
        status_kelulusan: { type: [string, 'null'], enum: [lulus, tidak_lulus, null] }
        tanggal_kelulusan: { type: [string, 'null'], format: date-time }
        tanggal_keputusan: { type: [string, 'null'], format: date-time }
        tanggal_daftar_ulang: { type: [string, 'null'], format: date-time }
        status_verifikasi: { type: [string, 'null'] }
        verifikasi: { type: object }
        pembayaran_pendaftaran: { $ref: '#/components/schemas/Payment' }
        data_sensitif:
          type: object
          description: Omitted without an allowed identity/contact/sensitive scope. Legacy pendaftaran:sensitive:read keeps the full v1 block.
          properties:
            nisn: { type: [string, 'null'] }
        dokumen:
          type: array
          description: Omitted without pendaftaran:documents:read
          items: { $ref: '#/components/schemas/Document' }
    Employee:
      type: object
      required: [id, nama, status, unit]
      properties:
        id: { type: string, format: uuid }
        nip: { type: [string, 'null'] }
        nama: { type: string }
        email: { type: [string, 'null'], format: email }
        jenis_kelamin: { type: [string, 'null'], enum: [L, P, null] }
        jabatan: { type: [string, 'null'] }
        status: { type: [string, 'null'], enum: [aktif, nonaktif, null] }
        unit: { type: object, properties: { id: { type: [string, 'null'], format: uuid } } }
        tanggal_masuk: { type: [string, 'null'], format: date }
        tanggal_pensiun: { type: [string, 'null'], format: date }
        golongan_terakhir: { type: [string, 'null'] }
        created_at: { type: [string, 'null'], format: date-time }
    EmployeeImportRow:
      type: object
      additionalProperties: false
      properties:
        pegawai_id: { type: string, format: uuid, description: Existing employee ID. Preferred update key. }
        nip: { type: string, description: Secondary update key. Recommended for repeatable imports. }
        nama: { type: string }
        email: { type: string, format: email }
        jenis_kelamin: { type: string, enum: [L, P] }
        jabatan: { type: string }
        departemen_id: { type: [string, 'null'], format: uuid, description: null means Yayasan / cross-unit employee. }
        status: { type: string, enum: [aktif, nonaktif] }
        tanggal_masuk: { type: string, format: date }
        tanggal_pensiun: { type: string, format: date }
        golongan_terakhir: { type: string }
    SyncPage:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            required: [id, change, version, changed_at]
            properties:
              id: { type: string }
              change: { type: string, enum: [upsert, delete, scope_exit] }
              version: { type: integer }
              changed_at: { type: string, format: date-time }
              data: {}
        sync:
          type: object
          properties:
            checkpoint: { type: integer }
            checkpoint_safe: { type: boolean }
            next_cursor: { type: [string, 'null'] }
            has_more: { type: boolean }
            retention_days: { type: integer, const: 90 }
  parameters:
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque signed cursor bound to integration, permissions, endpoint and filters.
    Department:
      name: departemen_id
      in: query
      schema: { type: string, format: uuid }
    AcademicYear:
      name: tahun_ajaran_id
      in: query
      schema: { type: string, format: uuid }
  responses:
    Unauthorized:
      description: Missing, invalid, expired or revoked token, or inactive integration
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    Forbidden:
      description: Missing scope or requested filter outside integration permissions
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After: { schema: { type: integer } }
      content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
paths:
  /api/v1/pendaftaran:
    get:
      summary: List registrations
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Department' }
        - { $ref: '#/components/parameters/AcademicYear' }
        - { name: status, in: query, schema: { type: string } }
        - { name: status_tes, in: query, schema: { type: string, enum: [sudah_tes, belum_tes] } }
        - { name: status_kelulusan, in: query, schema: { type: string, enum: [lulus, tidak_lulus, belum_diputuskan] } }
        - { name: gelombang_id, in: query, schema: { type: string, format: uuid } }
        - { name: status_verifikasi, in: query, schema: { type: string } }
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' }, '403': { $ref: '#/components/responses/Forbidden' }, '429': { $ref: '#/components/responses/RateLimited' } }
  /api/v1/pendaftaran/{id}:
    get:
      summary: Registration detail
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/Registration' } } } } } }
        '404': { description: Not found or outside scope }
  /api/v1/siswa:
    get:
      summary: List non-candidate students
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Department' }
        - { $ref: '#/components/parameters/AcademicYear' }
        - { name: status, in: query, schema: { type: string } }
        - { name: kelas_id, in: query, schema: { type: string, format: uuid } }
      responses: { '200': { description: OK }, '401': { $ref: '#/components/responses/Unauthorized' }, '403': { $ref: '#/components/responses/Forbidden' } }
  /api/v1/siswa/{id}:
    get:
      summary: Student detail and visible class relations
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses: { '200': { description: OK }, '404': { description: Not found or outside scope } }
  /api/v1/kelas:
    get:
      summary: List classes
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }, { $ref: '#/components/parameters/Department' }, { $ref: '#/components/parameters/AcademicYear' }]
      responses: { '200': { description: OK }, '403': { $ref: '#/components/responses/Forbidden' } }
  /api/v1/kelas/{id}/siswa:
    get:
      summary: Visible students in a class
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }, { $ref: '#/components/parameters/AcademicYear' }]
      responses: { '200': { description: OK }, '404': { description: Not found or outside scope } }
  /api/v1/pegawai:
    get:
      summary: List employees
      description: Requires pegawai:read. Operational employee data including email is returned. Address, phone, birth data, religion, photo, private documents, and family data are not exposed. Department restrictions apply; academic-year restrictions do not apply to employee records.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Department' }
        - { name: status, in: query, schema: { type: string, enum: [aktif, nonaktif] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Employee' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/pegawai/{id}:
    get:
      summary: Employee detail
      description: Requires pegawai:read. Operational employee data including email is returned; other private/contact fields remain excluded.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: OK
          content: { application/json: { schema: { type: object, properties: { data: { $ref: '#/components/schemas/Employee' } } } } }
        '404': { description: Not found or outside scope }
  /api/v1/pegawai/import:
    post:
      summary: Bulk create or update employees
      description: Requires pegawai:write. Maximum 200 rows. Existing records are matched by pegawai_id first, then NIP. Operational fields including email can be written. Address, phone, birth data, religion, photo, private documents, family data, user roles/login, users_profile, attendance, savings, journals, payments, and finance tables cannot be read or changed through this endpoint. Empty update values are ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [rows]
              properties:
                update_existing: { type: boolean, default: false }
                rows:
                  type: array
                  minItems: 1
                  maxItems: 200
                  items: { $ref: '#/components/schemas/EmployeeImportRow' }
      responses:
        '200':
          description: Per-row result with created/updated/failed summary
        '400':
          description: Invalid JSON or payload
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429':
          description: General API or employee bulk-write rate limit exceeded
          headers:
            Retry-After: { schema: { type: integer } }
  /api/v1/sync/pendaftaran:
    get:
      summary: Incremental registration and document changes
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }, { name: checkpoint, in: query, schema: { type: integer, minimum: 0 } }]
      responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/SyncPage' } } } }, '410': { description: Checkpoint expired } }
  /api/v1/sync/siswa:
    get:
      summary: Incremental student changes
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }, { name: checkpoint, in: query, schema: { type: integer, minimum: 0 } }]
      responses: { '200': { description: OK }, '410': { description: Checkpoint expired } }
  /api/v1/sync/kelas:
    get:
      summary: Incremental class and membership changes
      parameters: [{ $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' }, { name: checkpoint, in: query, schema: { type: integer, minimum: 0 } }]
      responses: { '200': { description: OK }, '410': { description: Checkpoint expired } }
  /api/v1/documents/{id}:
    get:
      summary: Issue a private signed document URL valid for 60 seconds
      parameters: [{ name: id, in: path, required: true, schema: { type: string, pattern: '^[0-9a-fA-F-]{36}\.(kk|akta|rapor|ijazah)$' } }]
      responses: { '200': { description: Signed URL }, '403': { $ref: '#/components/responses/Forbidden' }, '404': { description: Not found or outside scope } }

  /api/v1/pendaftaran/{id}/milestone:
    post:
      summary: Update Status SPMB (Tes, Lulus, dan Tidak Lulus)
      description: Requires pendaftaran:milestone:update. Unit/year restrictions apply. Uses the existing SPMB workflow; repeated actions return the original timestamp. No student biodata, payments, or class writes.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
          description: Registration ID, not student ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action]
              properties:
                action: { type: string, enum: [tes, lulus, tidak_lulus] }
      responses:
        '200':
          description: Milestone marked or already marked (idempotent)
          content:
            application/json:
              schema:
                type: object
                required: [data, request_id]
                properties:
                  request_id: { type: string, format: uuid }
                  data:
                    type: object
                    required: [pendaftaran_id, action, marked_at]
                    properties:
                      pendaftaran_id: { type: string, format: uuid }
                      action: { type: string, enum: [tes, lulus, tidak_lulus] }
                      marked_at: { type: string, format: date-time }
        '400':
          description: Invalid payload or unmet workflow prerequisite
        '401':
          description: Invalid, expired or revoked token
        '403':
          description: Missing pendaftaran:milestone:update scope
        '404':
          description: Registration missing or outside permitted unit/year
        '429':
          description: Rate limit exceeded; obey Retry-After
        '503':
          description: Outcome unconfirmed; retry the same action safely

webhooks:
  integrationChange:
    post:
      summary: Outbound change notification configured by an administrator
      description: Minimal event without PII. Verify X-Hijrah-Signature against the raw request body, then fetch details through the normal scoped API.
      parameters:
        - name: X-Hijrah-Event-ID
          in: header
          required: true
          schema: { type: string }
        - name: X-Hijrah-API-Version
          in: header
          required: true
          schema: { type: string, const: '1.1' }
        - name: X-Hijrah-Signature
          in: header
          required: true
          schema: { type: string, pattern: '^sha256=[0-9a-f]{64}$' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id, type, api_version, changed_at]
              properties:
                event_id: { type: string }
                type: { type: string, enum: [integration.change, integration.test] }
                api_version: { type: string, const: '1.1' }
                object_type: { type: string, enum: [pendaftaran, siswa, kelas, dokumen] }
                object_id: { type: string, format: uuid }
                change: { type: string, enum: [upsert, delete] }
                version: { type: integer }
                changed_at: { type: string, format: date-time }
      responses:
        '2XX': { description: Receiver accepted the event }
